/* ---------DEBUG */


.debug{
    border: 1px solid black;

}
.debug-light{
    border: 1px solid white;
}


/* --------- VARIABILI */

:root{
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --blue-color: #3066E6;
    --grey-color: #858585;
    --games-card-color: #1F1F1F;
    --footer-color: #00439C;
    --button-first-color: #CD3D0F;
    --button-second-color: #2D64E6;
    --button-third-color: #D9DADC;
    --active-color: #187FD2;
}


/* ---------- GENERAL RULES */

body{
    font-family: Arial, Helvetica, sans-serif;
}


/* ---------- HEADER */

    /* HEADER TOP */

.header-top{
    background-color: var(--dark-color);
}
.header-top .img-container{
    width: 100px;
}
    /* HEADER BOTTOM */

.header-bottom .dropdown-toggle::after {
    content: none;
}
.header-bottom .nav-text{
    color: var(--dark-color);
    font-weight: 600;
}
.header-bottom .nav-caret{
    color: var(--grey-color);
    font-size: 0.8rem;
    margin: 0 5px;
}
.header-bottom .btn{
    margin: 0 10px;
}
.header-bottom .fa-magnifying-glass{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}



/* ---------- MAIN */



/* --------- FOOTER */