/* ---------DEBUG */


.debug{
    border: 1px solid black;

}
.debug-light{
    border: 1px solid white;
}


/* --------- VARIABILI */

:root{
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --blue-color: #3066E6;
    --grey-color: #858585;
    --games-card-color: #1F1F1F;
    --footer-color: #00439C;
    --button-first-color: #CD3D0F;
    --button-second-color: #2D64E6;
    --button-third-color: #D9DADC;
    --active-color: #187FD2;
}


/* ---------- GENERAL RULES */

body{
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    font-weight: 600;
}

/* ---------- HEADER */

    /* HEADER TOP */

.header-top{
    background-color: var(--dark-color);
}
.header-top .img-container{
    width: 100px;
}
    /* HEADER BOTTOM */

.header-bottom .dropdown-toggle::after {
    content: none;
}
.header-bottom .nav-text{
    color: var(--dark-color);
    font-weight: 600;
}
.header-bottom .nav-caret{
    color: #999;
    font-size: 1rem;
    margin: 0 5px;
}
.header-bottom .btn{
    margin: 0 10px;
}
.header-bottom .fa-magnifying-glass{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
}
.nav-item a:hover .nav-text,
.nav-item a:hover .nav-caret{
    color: #0070d1;
}



/* ---------- MAIN */

main{
    margin-top: 116px;
}

    /* JUMBOTRON */

#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

[alt=returnal-logo]{
    max-width: 300px;
    margin-left: -10px;
}
#jumbotron .row{
    height: 675px;
}
#jumbotron h1,
#jumbotron p{
    color: var(--light-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
#jumbotron h1{
    font-size: 2rem;
}
#jumbotron p {
    min-height: 100px;
    font-size: 1rem;
}
#jumbotron .btn{
    background-color: var(--button-first-color);
    color: var(--light-color);
}

    /* PLAYSTATION-5 */

#playstation-5 .container{
    padding-top: 20px;
}
#playstation-5 .container-1 .img-container{
    border-radius: 15px;
    overflow: hidden;
}
#playstation-5 .container-2{
    margin-top: 50px;
    margin-bottom: 50px;
}
#playstation-5 .container-2 .h6{
    color: var(--active-color);
    font-size: 0.8rem;
    font-weight: bolder;
}
#playstation-5 .container-2 .h1,
#playstation-5 .container-3 .h1{
    color: var(--dark-color);
    padding-bottom: 15px;
    
}
#playstation-5 .container-2 .h6:last-of-type,
#playstation-5 .container-3 .h6{
    color: var(--grey-color);
    font-size: 1rem;
    font-weight: bolder;
}
#playstation-5 .container-3 .btn{
    margin-top: 10px;
    background-color: var(--button-second-color);
    color: var(--light-color);
}
#playstation-5 .container-4{
    padding-bottom: 50px;
}
#playstation-5 .container-4 .card{
    /* height: 220px; togliere */
    text-align: center;
    font-weight: bolder;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
#playstation-5 .container-4 a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#playstation-5 .container-4 .img-container{
    max-width: 150px;
}
#playstation-5 .container-4 .card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#playstation-5 .container-4 .card-text-wrapper{
    padding-top: 15px;
}
#playstation-5 .container-4 .card.active .card-text{
    padding-bottom: 50px;
}
#playstation-5 .container-4 .card.active{
    border-bottom: 3px solid var(--active-color);
}
#playstation-5 .container-4 .card.unactive{
    opacity: 0.6;
}

    /* GAME-1 */

#game-1{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
[alt=it-takes-two-logo]{
    max-width: 300px;
    margin-left: -10px;
}
#game-1 h1,
#game-1 p{
    color: var(--light-color);
    padding-top: 10px;
    padding-bottom: 10px;
}
#game-1 h1{
    font-size: 2rem;
}
#game-1 p{
    min-height: 100px;
    font-size: 1rem;
}
#game-1 .btn{
    background-color: var(--button-first-color);
    color: var(--light-color);
}

    /* GAMES-CARD */

#games-card{
    background-color: var(--games-card-color);
    padding-top: 20px;
    padding-bottom: 50px;
}
#games-card .text-container{
    padding-top: 20px;
    padding-bottom: 20px;
}
#games-card .text-container,
#games-card .card-text{
    color: var(--light-color);
}
#games-card .card{
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
#games-card .card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 15px;
}
#games-card .card-text-wrapper{
    padding-top: 15px;
}

  /* PLAYSTATION */

#playstation{
    padding-top: 20px;  
}
#playstation .container-1{
    padding-top: 20px;
    padding-bottom: 50px;
}
#playstation .container .h1{
    color: var(--dark-color);
    padding-bottom: 15px;
}
#playstation .container-1 .h1 span{
    font-size: 1rem;
    position: relative;
    top: -15px;
}
#playstation .container .h6{
    color: var(--grey-color);
    font-size: 1rem;
    font-weight: bolder;
    padding-bottom: 15px;
}
#playstation .container-2 .btn{
    background-color: var(--button-second-color);
    color: var(--light-color);
}



/* --------- FOOTER */